:root {
  --platinum: rgba(232, 232, 232, 1);
  --purple: rgba(102, 0, 146, 1);
  --chocolate-web: rgba(223, 104, 0, 1);
  --carmine-m-p: rgba(223, 8, 68, 1);
  --oxford-blue: rgba(0, 23, 45, 1);
  --oxford-blue-2: rgba(10, 36, 59, 1);
}
